// ************** Client Logo Part Start **************_____
#client_logo{
    padding-bottom: 70px;

    .container{
        .client_logo_back{
            padding: 40px 0;
            background: #E2F4FF;
        }
        .client_logo{
            width: 188px;
        }
    }
}

// ************** Client Logo Part End **************_____